<html>
    <head>
        <title>yxz1113's blog</title>
    </head>
    <body>
        <div>
            <h1><a href=""> my Blog</a></h1>
        </div>

        <div>
            
            <h2><a href="">My first post</a></h2>
            <p>  I am deeply fascinated by binary in computers.   Because we can express a variety of different meanings just with some numbers.
Especially when I was studying the connection between mechanical circuits and binary system, I became interested in the background. When various parts in mechanical circuits, such as diodes, and relays have matured for decades, they can finally be used on chips in computers. 
And the chip became smaller and smaller with the development of technology, and finally formed the prototype of the current personal computer.
While learning this knowledge, I was fascinated by the connection. Because when we are learning the working principles of computers, we will see that this is closely related to the development of contemporary technology.
   </p>
        </div>

        <div>
            
            <h2><a href="">My second post</a></h2>
            <p> I hope to learn more about machine learning and deep learning in the next academic year. Especially the principles of several major algorithms. Because these algorithms are the main reason for the current success of artificial intelligence. 
			Computers are able to perform well in various fields because of the use of these algorithms.   </p>
        </div>
		
		<div>
		    <h3><a href="">My third post</a></h3>
			<p> My personal website design is very simple, because I still can't use css, javascripts website editing language to compile very proficiently. But here you can talk about how django software works. We can explain how django works in this way. First, the user requests the page through the browser. The second step is to grab the user's url and match it through the url.py file to find the corresponding view. Then call the function. The methods in the view can access database data through models and return the data to the view.
           In the last step, you can use context if you need views. The context is passed to the template to generate the html page. The last step is to return the response object to the browser to present the effect to the user.
     </p>
		
		</div>
    </body>
</html>

